<div class="restaurants">
  <% @restaurants.each do |restaurant|  %>
    <div class="restaurant-card">
      <h2><%= link_to restaurant.name , restaurant_path(restaurant) %>
    </div></h2>
  <% end  %>
</div>
